<!doctype HTML>
<html>
    <head>
        <title>{{title}}</title>
            <style>
            .error {
                color: blue;
            }
            </style>
    </head>

    <div>
    <body>

        <a href='/blog'>Read Blog Entries</a> or <a href='/newpost'>Create a New Post</a>
        {% block content%}
        {% endblock %}

        <ul>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category,message in messages %}
               <li class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}
        </ul>
        <a href='/blog'>Read Blog Entries</a> or <a href='/newpost'>Create a New Post</a>
    </body>

    </div>

  
    </html>

    